@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.hide_scrollbar::-webkit-scrollbar {
  display: none;
}

.ai-image {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 26%,
    rgba(1, 72, 110, 1) 62%,
    rgba(0, 212, 255, 1) 100%
  );
}
